
{% extends "base.html" %}
{% block title %}Empresa{% endblock title %}
   {% block content %}

    persona: {{user.usuario.rol}}


   

   <div class="d-flex">
      <!-- Menú lateral -->
    
      <!-- Contenido principal -->
      <div class="container-fluid" >
        <h1>Lista de empresas</h1>
        <a href="{% url 'empresa_nuevo' %}" class="btn btn-success">Nueva Empresa</a>
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Ruc</th>
              <th>Direccion</th>
              <th>Estado</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            {% for e in empresas %}
            <tr>
              <td>{{ e.nombre }}</td>
              <td>{{ e.ruc }}</td>
              <td>{{ e.direccion }}</td>
              <td>{{ e.estado }}</td>
              <td>
                <a href="{% url 'empresa_editar' e.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'empresa_eliminar' e.id %}" class="btn btn-danger btn-sm">Eliminar</a>  </td>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endblock content %}

