{% extends "base.html" %}
{% block title %}Ticket{% endblock title %}
{% block content %}

<div class="d-flex">


<div class="container-fluid" >
<h1 class="mt-4">Lista de Tickets</h1>
<a href="{% url 'ticket_nuevo' %}" class="btn btn-success">Nuevo Ticket</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Título</th>
            <th>Estado</th>
            <th>Prioridad</th>
            <th>Categoría</th>
            <th>Cliente</th>
            <th>Técnico</th>
            <th>Fecha Creación</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tickets %}
        <tr>
            <td>{{ t.titulo }}</td>
            <td>{{ t.estado }}</td>
            <td>{{ t.prioridad }}</td>
            <td>{{ t.categoria.nombre }}</td>
            <td>{{ t.cliente.nombres }}</td>
            <td>{{ t.tecnico.nombre }}</td>
            <td>{{ t.fecha_creacion }}</td>
            <td>
                <a href="{% url 'ticket_editar' t.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'ticket_eliminar' t.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock content %}
